# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\environment\projects\product_management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
